{% load static %}
<html>
  <head>
    <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css">
    <title>Home Page</title>
  </head>
  <body>
    <h1>A Taste of Japan!</h1>
    <p>Welcome! Check out the menu down below!</p>
    <div class="menu">
      <h2 style="text-align:center">Menu</h2>
        <div class="menu-sm">
          <ul style="list-style-type:none" >
            <!-- https://www.justonecookbook.com/temaki-sushi-hand-roll/ -->
            <h3>Placeholders</h3>
            <li>Temaki Sushi (手巻き寿司)</li>
            <li>Takoyaki (たこ焼き)</li>
            <li>Omurice (オムライス)</li>
            <li>Karaage (唐揚げ)</li>
          </ul>
        </div>
        <div class="menu-sm">
          <ul style="list-style-type:none">
            <!-- https://www.justonecookbook.com/temaki-sushi-hand-roll/ -->
            <h3>Placeholder</h3>
            <li>Temaki Sushi (手巻き寿司)</li>
            <li>Takoyaki (たこ焼き)</li>
            <li>Omurice (オムライス)</li>
            <li>Karaage (唐揚げ)</li>
          </ul>
        </div>
        <div class="menu-sm">
          <ul style="list-style-type:none">
            <!-- https://www.justonecookbook.com/temaki-sushi-hand-roll/ -->
            <h3>Placeholder</h3>
            <li>Mochi Ice Cream (もちアイス)</li>
            <li>Daifuku (大福)</li>
            <li>Dorayaki Recipe (どら焼き)</li>
            <li>Coffee Jelly (唐揚げ)</li>
          </ul>
        </div>
    </div>
  </body>
</html>
