
h1 {
  border-style: dotted;
  overflow: hidden;
  text-align: center;
}
.menu {
  width:704px;
  border-style: solid;
  margin:0;
}
.menu-sm {
  width:50%;
  float:left;
  margin:0;
  overflow: hidden;
}
