{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Home Page</title>
  </head>
  <body style="background-color:#66ffc4">
    <h1>A Taste of Japan!</h1>
    <p>Welcome! Check out the menu down below!</p>
    <div class="menu">
      <h2 style="text-align:center">Menu</h2>
        <div class="menu-sm">
          <ul style="list-style-type:none" >
            <!-- https://www.justonecookbook.com/temaki-sushi-hand-roll/ -->
            <h3>Appetizers</h3>
            {% for food in foods.all %}
              <li style="color:#02075d">{{ food.name }} ${{ food.price|floatformat:-2 }}</li>
              <img src="/images/temaki.jpg" alt="">
              <li style="font-weight:bold">{{ food.description }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="menu-sm">
          <ul style="list-style-type:none">
            <h3>Placeholder</h3>
            <li>Temaki Sushi (手巻き寿司)</li>
            <li>Takoyaki (たこ焼き)</li>
            <li>Omurice (オムライス)</li>
            <li>Karaage (唐揚げ)</li>
          </ul>
        </div>
        <div class="menu-sm">
          <ul style="list-style-type:none">
            <h3>Desserts</h3>
            {% for dessert in desserts.all %}
              <li style="color:#ff66cc">{{ dessert.name }} ${{ dessert.price|floatformat:-2 }}</li>
              <img src="/images/temaki.jpg" alt="">
              <li style="font-weight:bold">{{ dessert.description }}</li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </body>
</html>
